{namespace pf=PIPEU\Factura\ViewHelpers}
{namespace pfn=PIPEU\Factura\NodeTypes\ViewHelpers}
<table class="flatDocumentList" xmlns:f="http://www.w3.org/1999/XSL/Transform" xmlns:f="http://www.w3.org/1999/html">
    <caption>
        <f:translate id="label.document.list.flat">Overview of all Documents related to your order</f:translate>
    </caption>
    <thead>
        <tr>
			<th>
				#
			</th>
            <th>
                <f:translate id="label.document.type" package="PIPEU.Factura">Type</f:translate>
            </th>
            <th colspan="2">
                <f:translate id="label.price.gross.summary">Summary (gross)</f:translate>
            </th>
        </tr>
    </thead>
    <tbody>
        <f:render section="document" arguments="{document:document, activeDocument:activeDocument}"/>
    </tbody>
</table>

<f:section name="document">
    <tr class="mainInformation{f:if(condition:'{activeDocument}=={document}', then:' active', else:'')}">
		<td>{document.serialNumber}</td>
		<td class="title">
			<f:link.action title="{f:translate(value:'Show')}" action="show" controller="document" package="PIPEU.Factura.NodeTypes" arguments="{document:document,hash:document.identityHash}" section="{document->f:format.identifier()}">
				<f:render partial="Document/Type" arguments="{document:document}"/>
			</f:link.action>
		</td>
        <td>
            <pf:format.currency currencySign="€">{document.summaryGross}</pf:format.currency>
        </td>
		<td>
			<f:link.action title="{f:translate(value:'Download')}" action="download" controller="document" package="PIPEU.Factura.NodeTypes" arguments="{document:document,hash:document.identityHash}">
				<i class="glyphicon glyphicon-download"></i> {f:translate(value:'Download')}
			</f:link.action>
		</td>
    </tr>
    <tr class="states{f:if(condition:'{activeDocument}=={document}', then:' active', else:'')}">
        <td colspan="4" class="states">
            <f:for each="{document.states}" as="state">
                <span title="{state.dateTime->f:format.date(forceLocale:true)}" class="badge badge-{state.severity} {f:if(condition: '{state->f:format.identifier()}=={document.primaryState->f:format.identifier()}', then:' badge-primary', else:'')}">
                    <f:translate id="{state.code}" package="PIPEU.Factura" source="States">
                        {state.message}
                    </f:translate>
                </span>
            </f:for>
        </td>
    </tr>
    <f:for each="{document.childDocuments}" as="childDocument">
        <f:render section="document" arguments="{document:childDocument, activeDocument:activeDocument}"/>
    </f:for>
</f:section>