<f:flashMessages as="flashMessages">
	<f:if condition="{flashMessages->f:count()>0}">
		<f:for each="{flashMessages}" as="message">
			<f:render section="message" arguments="{_all}"/>
		</f:for>
	</f:if>
</f:flashMessages>

<f:section name="message">
	<f:render partial="Messages/Message" arguments="{_all}"/>
</f:section>
