<span class="label label-danger label-validation">
	<f:translate id="{error.code}" arguments="{error.arguments}" source="ValidationErrors" package="PIPEU.Factura.NodeTypes">{error}</f:translate>
</span>