<div id="flashMessage_{message.code}"
	 data-i18nlabel="{message.severity}{f:if(condition:'{message.code}', then: '.{message.code}', else:'' )}"
	 class="alert alert-{message.severity} alert-dismissible">
	<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span
			class="sr-only">Close</span></button>
	<h6>
		<f:if condition="{message.title}">
			<f:then>
				<f:translate package="PIPEU.Site" source="FlashMessages"
							 id="{message.severity}{f:if(condition:'{message.code}', then: '.{message.code}', else:'' )}"
							 arguments="{message.arguments}">{message.title}</f:translate>
			</f:then>
			<f:else>
				<f:translate package="PIPEU.Site" source="FlashMessages"
							 id="{message.severity}{f:if(condition:'{message.code}', then: '.{message.code}', else:'' )}"
							 arguments="{message.arguments}">{message.severity}</f:translate>
			</f:else>
		</f:if>
	</h6>
	<f:translate package="PIPEU.Site" source="FlashMessages"
				 id="{message.severity}{f:if(condition:'{message.code}', then: '.{message.code}', else:'' )}.message"
				 arguments="{message.arguments}">{message.message}</f:translate>
</div>