{namespace pf=PIPEU\Factura\ViewHelpers}
<table class="facturaCalculation">
    <thead>
        <tr>
            <th class="name">
                <f:translate id="label.product" package="PIPEU.Factura.NodeTypes">Product</f:translate>
            </th>
            <th class="unit">
                <f:translate id="label.units" package="PIPEU.Factura.NodeTypes">Units</f:translate>
            </th>
        </tr>
    </thead>
    <tbody>
        <f:for each="{document.facturaItems}" as="item">
            <tr>
                <td class="name">
                    <f:if condition="{pf:className(var:item)} == 'PIPEU\Factura\Domain\Model\Documents\Items\Delivery'">
                        <f:then>
                            <header>
                                <h1 class="text-xxs">
                                    <f:translate id="label.{item.type}.title"
                                                 package="PIPEU.Factura.Delivery" source="Providers">
                                        {item.title}
                                    </f:translate>
                                </h1>
                            </header>
                            <f:translate id="label.{item.type}.subTitle"
                                         package="PIPEU.Factura.Delivery" source="Providers">
                                {item.subtitle}
                            </f:translate>
                        </f:then>
                        <f:else>
                            <header>
                                <h1 class="text-xxs">
                                    <f:translate>{item.title}</f:translate>
                                </h1>
                            </header>
                            <f:translate>{item.subTitle}</f:translate>
                        </f:else>
                    </f:if>
                </td>
                <td class="unit">
                    <span class="xs nowrap">
                        <pf:format.number>{item.unit}</pf:format.number>
                    </span>
                </td>
            </tr>
        </f:for>
    </tbody>
</table>