{namespace pf=PIPEU\Factura\ViewHelpers}
<h1>
    <f:translate id="label.document.serialNumber.{document.type}"
                 package="PIPEU.Factura">SerialNumber
    </f:translate>
    - {document.serialNumber}
</h1>