{namespace pf=PIPEU\Factura\ViewHelpers}
{pf:configuration(configurationPath:'PIPEU.Factura.merchant.personName.fullName')}
| {pf:configuration(configurationPath:'PIPEU.Factura.merchant.postal.address')}
| {pf:configuration(configurationPath:'PIPEU.Factura.merchant.postal.postalCode')} {pf:configuration(configurationPath:'PIPEU.Factura.merchant.postal.city')}
|
<f:translate id="{pf:configuration(configurationPath:'PIPEU.Factura.merchant.postal.country')}" source="Countries"
             package="PIPEU.Geo"/>
<br/>
{pf:configuration(configurationPath:'PIPEU.Factura.merchant.electronicAddresses.primaryPhoneAddress')}
| {pf:configuration(configurationPath:'PIPEU.Factura.merchant.electronicAddresses.primaryEmailAddress')}
| {pf:configuration(configurationPath:'PIPEU.Factura.merchant.electronicAddresses.primaryWebAddress')}
<br/>
IBAN: {pf:configuration(configurationPath:'PIPEU.Factura.merchant.bankAccounts.primaryBankAccount.iban')}
| BIC: {pf:configuration(configurationPath:'PIPEU.Factura.merchant.bankAccounts.primaryBankAccount.bic')}
<br/>
Kto-Nr: {pf:configuration(configurationPath:'PIPEU.Factura.merchant.bankAccounts.primaryBankAccount.ktonr')}
| BLZ: {pf:configuration(configurationPath:'PIPEU.Factura.merchant.bankAccounts.primaryBankAccount.blz')}
| St-Nr. {pf:configuration(configurationPath:'PIPEU.Factura.merchant.tax.id')}
| Ust-Id: {pf:configuration(configurationPath:'PIPEU.Factura.merchant.tax.vatId')}