{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace pfn=PIPEU\Factura\NodeTypes\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}

<f:section name="body">

    <div class="container containerHeader">
        <div class="row">
            <div class="col-xs-12 text-right">
                {parts.simpleBasket -> f:format.raw()}
            </div>
        </div>
    </div>

    <div class="container">
        <section class="row" itemscope itemtype="http://schema.org/Product">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                {content.visuals -> f:format.raw()}
                <div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="productOptions">
                    <span class="text-xxl" itemprop="price">
                        <span class="xs nowrap">
                            <pfn:format.nodeCurrency currencySign="€">{node.properties.unitPrice->pfn:gross(tax:'{node.properties.tax}')}</pfn:format.nodeCurrency>
                        </span>
                    </span>
                    (<f:translate id="label.grossLong" package="PIPEU.Factura.NodeTypes">Includes the legal vat</f:translate>)<br/>
                    <pfn:format.nodeCurrency currencySign="€">{node.properties.unitPrice}</pfn:format.nodeCurrency>
					(<f:translate id="label.net" package="PIPEU.Factura.NodeTypes">net</f:translate>)<br/>
					{parts.productOptions -> f:format.raw()}
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <header>
                    <h1 itemprop="name">{node.properties.title}</h1>
                    <h4 itemprop="description">{node.properties.subtitle}</h4>
                </header>
                <div>
                    {content.main -> f:format.raw()}
                </div>
            </div>
        </section>
    </div>
</f:section>