{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}

<f:section name="stylesheets">
    <f:render partial="Styles"/>
</f:section>

<f:section name="scripts">
    <f:render partial="Scripts"/>
</f:section>

<f:section name="body">
    {parts.mainMenu -> f:format.raw()}
    {parts.simpleBasket -> f:format.raw()}
    {content.main -> f:format.raw()}
</f:section>