<f:layout name="Payment"/>

<f:section name="content">
	<f:switch expression="{paymentType.superType}">
		<f:case value="PIPEU\Payment\Domain\Model\Interfaces\CreditCardInterface">
			<f:render section="clientForm" arguments="{_all}"/>
		</f:case>
		<f:case value="PIPEU\Payment\Domain\Model\Interfaces\TransferInterface">
			<f:render section="serverForm" arguments="{_all}"/>
		</f:case>
	</f:switch>
	<p><i class="glyphicon glyphicon-info-sign"></i> <f:translate id="payment.info" package="PIPEU.Factura.NodeTypes"/></p>
</f:section>

<!-- Server API Form -->
<f:section name="serverForm">
	<f:switch expression="{paymentType.type}">
		<f:case value="PIPEU\Payment\Domain\Model\InstantTransfer">
			<f:form action="instantTransferAuthorization" object="{paymentType}" objectName="paymentType"
					arguments="{document:document, hash:document.identityHash}">
				<f:render section="serverFormFields" arguments="{_all}"/>
			</f:form>
		</f:case>
		<f:case value="PIPEU\Payment\Domain\Model\GiroPayTransfer">
			<f:form action="giroPayTransferAuthorization" object="{paymentType}" objectName="paymentType"
					arguments="{document:document, hash:document.identityHash}">
				<f:render section="serverFormFields" arguments="{_all}"/>
			</f:form>
		</f:case>
		<f:case value="PIPEU\Payment\Domain\Model\EpsTransfer">
			<f:form action="epsTransferAuthorization" object="{paymentType}" objectName="paymentType"
					arguments="{document:document, hash:document.identityHash}">
				<f:render section="serverFormFields" arguments="{_all}"/>
			</f:form>
		</f:case>
		<f:case value="PIPEU\Payment\Domain\Model\IDealTransfer">
			<f:form action="iDealTransferAuthorization" object="{paymentType}" objectName="paymentType"
					arguments="{document:document, hash:document.identityHash}">
				<f:render section="serverFormFields" arguments="{_all}"/>
			</f:form>
		</f:case>
		<f:case value="PIPEU\Payment\Domain\Model\EpsTransfer">
			<f:form action="epsTransferAuthorization" object="{paymentType}" objectName="paymentType"
					arguments="{document:document, hash:document.identityHash}">
				<f:render section="serverFormFields" arguments="{_all}"/>
			</f:form>
		</f:case>
	</f:switch>
</f:section>

<!-- Client API Form -->
<f:section name="clientForm">
	<form action="{formAction}" method="post">
		<f:render section="clientFormFields" arguments="{_all}"/>
	</form>
</f:section>

<!-- Server API FormFields -->
<f:section name="serverFormFields">
	<f:form.hidden property="__type" value="{paymentType.type}"/>
	<fieldset>
		<f:render section="paymentTypeSelector" arguments="{_all}"/>
		<f:form.validationResults for="paymentType">
			<f:render section="genericErrors" arguments="{_all}"/>
		</f:form.validationResults>
		<f:render section="{paymentType.type}" optional="{true}" arguments="{_all}"/>
	</fieldset>
	<div class="form-group">
		<f:link.action arguments="{document:document,hash:document.identityHash}" action="show"
					   controller="document" package="PIPEU.Factura.NodeTypes" class="btn btn-default">
			<f:translate id="paymentType.cancel" package="PIPEU.Payment">Cancel payment</f:translate>
		</f:link.action>
		<f:form.submit class="btn btn-primary"
					   value="{f:translate(id:'paymentType.{paymentType.type}.initializePayment',value:'Initialize payment', package:'PIPEU.Payment')}"/>
	</div>
</f:section>

<!-- Client API FormFields -->
<f:section name="clientFormFields">
	<f:for each="{transaction}" key="propertyName" as="propertyValue">
		<f:form.hidden name="{propertyName}" value="{propertyValue}"/>
	</f:for>
	<fieldset>
		<f:render section="paymentTypeSelector" arguments="{_all}"/>
		<f:form.validationResults for="paymentType">
			<f:render section="genericErrors" arguments="{_all}"/>
		</f:form.validationResults>
		<f:render section="{paymentType.type}" optional="{true}" arguments="{_all}"/>
	</fieldset>
	<div class="form-group">
		<f:link.action arguments="{document:document,hash:document.identityHash}" action="show"
					   controller="document" package="PIPEU.Factura.NodeTypes" class="btn btn-default">
			<f:translate id="paymentType.cancel" package="PIPEU.Payment">Cancel payment</f:translate>
		</f:link.action>
		<f:form.submit class="btn btn-primary"
					   value="{f:translate(id:'paymentType.{paymentType.type}.initializePayment',value:'Initialize payment', package:'PIPEU.Payment')}"/>
	</div>
</f:section>

<!-- Document Section -->
<f:section name="document">
	<br/>
	<f:render partial="Document/Invoice/Payment" arguments="{_all}"/>
</f:section>

<!-- Formfields of GiroPayTransfer -->
<f:section name="PIPEU\Payment\Domain\Model\GiroPayTransfer">
	<f:render section="GenericDebit" arguments="{_all}"/>
</f:section>

<!-- Formfields of DebitAuthorization -->
<f:section name="PIPEU\Payment\Domain\Model\DebitAuthorization">
	<f:render section="GenericDebit" arguments="{_all}"/>
</f:section>

<!-- Formfields of EpsTransfer -->
<f:section name="PIPEU\Payment\Domain\Model\EpsTransfer">
	<f:render section="EpsFormFields" arguments="{_all}"/>
</f:section>

<!-- Formfields of InstantTransver -->
<f:section name="PIPEU\Payment\Domain\Model\InstantTransfer">
	<f:render section="GenericDebit" arguments="{_all}"/>
</f:section>

<!-- Formfields of IDealTransfer -->
<f:section name="PIPEU\Payment\Domain\Model\IDealTransfer">
	<f:render section="IDealFormFields" arguments="{_all}"/>
</f:section>

<!-- Formfields of VisaCard -->
<f:section name="PIPEU\Payment\Domain\Model\VisaCard">
	<f:render section="GenericCreditCard" arguments="{_all}"/>
</f:section>

<!-- Formfields of DinersCard -->
<f:section name="PIPEU\Payment\Domain\Model\DinersCard">
	<f:render section="GenericCreditCard" arguments="{_all}"/>
</f:section>

<!-- Formfields of MasterCard -->
<f:section name="PIPEU\Payment\Domain\Model\MasterCard">
	<f:render section="GenericCreditCard" arguments="{_all}"/>
</f:section>

<!-- Generic Credit Card Formfields -->
<f:section name="GenericCreditCard">
	<f:form.validationResults for="paymentType.number">
		<div class="form-group{f:if(condition:'{validationResults.flattenedErrors}', then:' has-error', else:'')}">
			<label for="number" class="control-label">
				<f:translate id="paymentType.{paymentType.type}.number"
							 package="PIPEU.Payment">Card-Number</f:translate>
			</label>

			<f:form.textfield name="cardpan" id="number" class="form-control"
							  placeholder="{f:translate(id:'paymentType.{paymentType.type}.number.placeholder',value:'The number of the card', package:'PIPEU.Payment')}"/>
			<f:render section="fieldErrors"
					  arguments="{property: 'number', validationResults:validationResults}"/>
		</div>
	</f:form.validationResults>
	<f:form.validationResults for="paymentType.expirationDate">
		<div class="form-group{f:if(condition:'{validationResults.flattenedErrors}', then:' has-error', else:'')}">
			<label for="expirationDate" class="control-label">
				<f:translate id="paymentType.{paymentType.type}.expirationDate"
							 package="PIPEU.Payment">Expiration-Date</f:translate>
			</label>

			<f:form.textfield name="cardexpiredate" id="expirationDate" class="form-control" placeholder="YYMM"/>
			<f:render section="fieldErrors"
					  arguments="{property: 'expirationDate', validationResults:validationResults}"/>
		</div>
	</f:form.validationResults>
	<f:form.validationResults for="paymentType.cvv">
		<div class="form-group{f:if(condition:'{validationResults.flattenedErrors}', then:' has-error', else:'')}">
			<label for="cvv" class="control-label">
				<f:translate id="paymentType.{paymentType.type}.cvv" package="PIPEU.Payment">CVV-Code</f:translate>
			</label>

			<f:form.textfield type="password" name="cardcvc2" id="cvv" class="form-control" placeholder="123"/>
			<f:render section="fieldErrors"
					  arguments="{property: 'cvv', validationResults:validationResults}"/>
		</div>
	</f:form.validationResults>
</f:section>

<!-- Generic Debit Formfields -->
<f:section name="GenericDebit">

	<f:form.validationResults for="paymentType.number">
		<div class="form-group{f:if(condition:'{validationResults.flattenedErrors}', then:' has-error', else:'')}">
			<label for="number" class="control-label">
				<f:translate id="paymentType.{paymentType.type}.number" package="PIPEU.Payment">IBAN</f:translate>
			</label>
			<f:form.textfield property="number" id="number" class="form-control"
							  placeholder="{f:translate(id:'paymentType.{paymentType.type}.number.placeholder',value:'XXXXXXXXXXXXXXXXXXXXXX', package:'PIPEU.Payment')}"/>
			<f:render section="fieldErrors"
					  arguments="{property: 'iban', validationResults:validationResults}"/>
		</div>
	</f:form.validationResults>
	<f:form.validationResults for="paymentType.bic">
		<div class="form-group{f:if(condition:'{validationResults.flattenedErrors}', then:' has-error', else:'')}">
			<label for="bic" class="control-label">
				<f:translate id="paymentType.{paymentType.type}.bic" package="PIPEU.Payment">BIC</f:translate>
			</label>
			<f:form.textfield property="bic" id="bic" class="form-control"
							  placeholder="{f:translate(id:'paymentType.{paymentType.type}.bic.placeholder',value:'XXXXXXXXXXX', package:'PIPEU.Payment')}"/>
			<f:render section="fieldErrors"
					  arguments="{property: 'bic', validationResults:validationResults}"/>
		</div>
	</f:form.validationResults>
</f:section>

<!-- IDeal Formfields -->
<f:section name="IDealFormFields">

	<f:form.validationResults for="paymentType.number">
		<div class="form-group{f:if(condition:'{validationResults.flattenedErrors}', then:' has-error', else:'')}">
			<label for="number" class="control-label">
				<f:translate id="paymentType.{paymentType.type}.number" package="PIPEU.Payment">IBAN</f:translate>
			</label>
			<f:form.textfield property="number" id="number" class="form-control"
							  placeholder="{f:translate(id:'paymentType.{paymentType.type}.number.placeholder',value:'XXXXXXXXXXXXXXXXXXXXXX', package:'PIPEU.Payment')}"/>
			<f:render section="fieldErrors"
					  arguments="{property: 'iban', validationResults:validationResults}"/>
		</div>
	</f:form.validationResults>
	<f:form.validationResults for="paymentType.bic">
		<div class="form-group{f:if(condition:'{validationResults.flattenedErrors}', then:' has-error', else:'')}">
			<label for="bic" class="control-label">
				<f:translate id="paymentType.{paymentType.type}.bic" package="PIPEU.Payment">BIC</f:translate>
			</label>
			<f:form.textfield property="bic" id="bic" class="form-control"
							  placeholder="{f:translate(id:'paymentType.{paymentType.type}.bic.placeholder',value:'XXXXXXXXXXX', package:'PIPEU.Payment')}"/>
			<f:render section="fieldErrors"
					  arguments="{property: 'bic', validationResults:validationResults}"/>
		</div>
	</f:form.validationResults>

	<f:form.validationResults for="paymentType.bankGroupType">
		<div class="form-group{f:if(condition:'{validationResults.flattenedErrors}', then:' has-error', else:'')}">
			<label for="bankGroupType" class="control-label">
				<f:translate id="paymentType.{paymentType.type}.bankGroupType"
							 package="PIPEU.Payment">Bankgroup</f:translate>
			</label>
			<f:form.select property="bankGroupType" id="bankGroupType" class="form-control" options="{bankGroupTypes}"
						   translate="{by:'id', prefix:'bankGroupType.'}" sortByOptionLabel="{true}"/>
			<f:render section="fieldErrors"
					  arguments="{property: 'bankGroupType', validationResults:validationResults}"/>
		</div>
	</f:form.validationResults>

</f:section>

<!-- Eps Formfields -->
<f:section name="EpsFormFields">

	<f:form.validationResults for="paymentType.number">
		<div class="form-group{f:if(condition:'{validationResults.flattenedErrors}', then:' has-error', else:'')}">
			<label for="number" class="control-label">
				<f:translate id="paymentType.{paymentType.type}.number" package="PIPEU.Payment">IBAN</f:translate>
			</label>
			<f:form.textfield property="number" id="number" class="form-control"
							  placeholder="{f:translate(id:'paymentType.{paymentType.type}.number.placeholder',value:'XXXXXXXXXXXXXXXXXXXXXX', package:'PIPEU.Payment')}"/>
			<f:render section="fieldErrors"
					  arguments="{property: 'iban', validationResults:validationResults}"/>
		</div>
	</f:form.validationResults>
	<f:form.validationResults for="paymentType.bic">
		<div class="form-group{f:if(condition:'{validationResults.flattenedErrors}', then:' has-error', else:'')}">
			<label for="bic" class="control-label">
				<f:translate id="paymentType.{paymentType.type}.bic" package="PIPEU.Payment">BIC</f:translate>
			</label>
			<f:form.textfield property="bic" id="bic" class="form-control"
							  placeholder="{f:translate(id:'paymentType.{paymentType.type}.bic.placeholder',value:'XXXXXXXXXXX', package:'PIPEU.Payment')}"/>
			<f:render section="fieldErrors"
					  arguments="{property: 'bic', validationResults:validationResults}"/>
		</div>
	</f:form.validationResults>

	<f:form.validationResults for="paymentType.bankGroupType">
		<div class="form-group{f:if(condition:'{validationResults.flattenedErrors}', then:' has-error', else:'')}">
			<label for="bankGroupType" class="control-label">
				<f:translate id="paymentType.{paymentType.type}.bankGroupType"
							 package="PIPEU.Payment">Bankgroup</f:translate>
			</label>
			<f:form.select property="bankGroupType" id="bankGroupType" class="form-control" options="{bankGroupTypes}"
						   translate="{by:'id', prefix:'bankGroupType.'}" sortByOptionLabel="{true}"/>
			<f:render section="fieldErrors"
					  arguments="{property: 'bankGroupType', validationResults:validationResults}"/>
		</div>
	</f:form.validationResults>

</f:section>

<!-- Field Errors -->
<f:section name="fieldErrors">
	<f:if condition="{validationResults.flattenedErrors}">
		<div class="validationErrorsInline">
			<f:for each="{validationResults.flattenedErrors}" key="propertyPath" as="errors">
				<f:for each="{errors}" as="error">
					<f:render section="validationMessageInline" arguments="{_all}"/>
				</f:for>
			</f:for>
		</div>
	</f:if>
</f:section>

<!-- Generic Errors -->
<f:section name="genericErrors">
	<f:for each="{validationResults.errors}" as="error">
		<f:render section="validationMessage" arguments="{_all}"/>
	</f:for>
</f:section>

<f:section name="validationMessage">
	<f:render partial="Messages/Message" arguments="{message:error}"/>
</f:section>

<f:section name="validationMessageInline">
	<f:render partial="Messages/MessageInline" arguments="{_all}"/>
</f:section>


<!-- Payment Type Selector -->
<f:section name="paymentTypeSelector">
	<legend class="paymentTypeSelector" id="{paymentType.type}">
		<f:translate id="paymentType" package="PIPEU.Payment">Type of payment</f:translate>
		:
		<strong>
			<f:translate id="paymentType.{paymentType.type}" package="PIPEU.Payment">{paymentType.type}</f:translate>
		</strong>
	</legend>
</f:section>
