<f:layout name="Plugin"/>

<f:section name="content">
	<f:render partial="Basket/Menu/Default" arguments="{menuActivity:'control'}"/>
	<div class="control clearfix">
		<f:render partial="Basket/ControlView" arguments="{_all}"/>
	</div>
</f:section>
