<f:layout name="Plugin"/>

<f:section name="content">
	<f:render partial="Basket/Menu/Default" arguments="{menuActivity:'delivery'}"/>
	<div class="delivery clearfix">
		<f:render partial="Basket/DeliveryForm" arguments="{_all}"/>
	</div>
</f:section>
