<f:layout name="Plugin"/>

<f:section name="content">
	<f:render partial="Basket/Menu/Default" arguments="{menuActivity:'index'}"/>
	<div class="basket clearfix">
		<f:if condition="{basket.order.facturaItems->f:count()} > 0">
			<f:then>
				<f:render partial="Basket/BasketForm" arguments="{_all}"/>
			</f:then>
			<f:else>
				<f:render partial="Basket/BasketEmpty"/>
			</f:else>
		</f:if>
	</div>
</f:section>
