<f:layout name="Plugin"/>

<f:section name="content">
	<f:render partial="Basket/Menu/Default" arguments="{menuActivity:'invoice'}"/>
	<div class="invoice clearfix">
		<f:render partial="Basket/InvoiceForm" arguments="{_all}"/>
	</div>
</f:section>
