<f:layout name="Plugin"/>

<f:section name="content">
	<f:render partial="Basket/Menu/Default" arguments="{menuActivity:'provider'}"/>
	<div class="provider clearfix">
		<f:if condition="{basket.order.secondaryPostal.country}">
			<f:then>
				<f:render partial="Basket/ProviderForm" arguments="{_all}"/>
			</f:then>
			<f:else>
				<f:render partial="Basket/ProviderEmpty"/>
			</f:else>
		</f:if>
	</div>
</f:section>
