{namespace pf=PIPEU\Factura\ViewHelpers}
<div class="col-md-7 col-invoice">
    <div class="postalAddress primaryAddress">
        <h6>
            <f:translate id="label.invoiceAddress" package="PIPEU.Factura.NodeTypes">Invoice Address
            </f:translate>
        </h6>
        <f:render partial="Document/Address/Postal"
                  arguments="{postal:document.primaryPostal, personName:document.primaryPersonName, company:document.primaryCompany}"/>
    </div>
</div>
<div class="col-md-5 col-delivery">
    <div class="postalAddress secondaryAddress">
        <h6>
            <f:translate id="label.deliveryAddress" package="PIPEU.Factura.NodeTypes">Delivery Address
            </f:translate>
        </h6>
        <f:render partial="Document/Address/Postal"
                  arguments="{postal:document.secondaryPostal, personName:document.secondaryPersonName, company:document.secondaryCompany}"/>
    </div>
</div>
<div class="col-md-7 col-primaryElectronicAddress">
    <div class="primaryElectronicAddress">
        <h6>
            <f:translate id="label.primaryElectronicAddress" package="PIPEU.Factura.NodeTypes">E-Mail-Address
            </f:translate>
        </h6>
        {document.primaryElectronicAddress.identifier}
    </div>
</div>
<div class="col-md-5 col-dateTime">
    <div class="dateTime">
        <h6>
            <f:translate id="label.document.date.{document.type}"
                         package="PIPEU.Factura">Date
            </f:translate>
        </h6>
        <f:format.date forceLocale="{true}" localeFormatType="date">{document.dateTime}</f:format.date>
    </div>
</div>
<f:if condition="{document.vat}">
    <div class="col-md-12 col-vat">
        <div class="vatNumber">
            <h6>
                <f:translate id="label.vat" package="PIPEU.Factura.NodeTypes">VAT Id</f:translate>
            </h6>
            {document.vat}
        </div>
    </div>
</f:if>
