<f:layout name="Plugin"/>

<f:section name="content">
	<div class="row">
		<div class="col col-md-4">
			<f:render partial="Document/List/Flat"
					  arguments="{document:document.mainDocument, activeDocument:document}"/>
		</div>
		<div class="col col-md-8">
			<f:render partial="Document/Default" arguments="{_all}"/>
		</div>
	</div>
</f:section>

