<f:if condition="{validationResults.flattenedErrors}">
    <div class="validationErrorsInline">
        <f:for each="{validationResults.flattenedErrors}" key="propertyPath" as="errors">
            <f:for each="{errors}" as="error">
                <span class="label label-danger label-validation">
                    <f:translate id="{error.code}" arguments="{error.arguments}" package="PIPEU.Factura.NodeTypes"
                                 source="ValidationErrors">
                        {error}
                    </f:translate>
                </span>
            </f:for>
        </f:for>
    </div>
</f:if>
