{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace media=TYPO3\Media\ViewHelpers}
<f:if condition="{image}">
    <figure
    {f:if(condition: imageClassName, then: ' class="{imageClassName}"')}>
    <meta itemprop="image"
          content="{media:uri.image(asset: image, maximumWidth:maximumWidth, maximumHeight:maximumHeight, allowCropping:allowCropping, allowUpScaling:allowUpScaling)}"/>
    <f:if condition="{link}">
        <f:then>
            <a href="{link}">
                <media:image asset="{image}" alt="{alternativeText}" title="{title}" maximumWidth="{maximumWidth}"
                             maximumHeight="{maximumHeight}" allowCropping="{allowCropping}"
                             allowUpScaling="{allowUpScaling}"/>
            </a>
        </f:then>
        <f:else>
            <media:image asset="{image}" alt="{alternativeText}" title="{title}" maximumWidth="{maximumWidth}"
                         maximumHeight="{maximumHeight}" allowCropping="{allowCropping}"
                         allowUpScaling="{allowUpScaling}"/>
        </f:else>
    </f:if>
    <f:if condition="{hasCaption}">
        <figcaption>
            {neos:contentElement.editable(property: 'caption', node: node)}
        </figcaption>
    </f:if>
    </figure>
</f:if>
