{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace media=TYPO3\Media\ViewHelpers}
<figure{f:if(condition: imageClassName, then: ' class="{imageClassName}"')}>
	<f:if condition="{image}">
		<f:then>
            <meta itemprop="image" content="{media:uri.image(asset: image, maximumWidth:maximumWidth, maximumHeight:maximumHeight, allowCropping:allowCropping, allowUpScaling:allowUpScaling)}" />
			<f:if condition="{link}">
				<f:then>
					<a href="{link}"><media:image asset="{image}" alt="{alternativeText}" title="{title}" maximumWidth="{maximumWidth}" maximumHeight="{maximumHeight}" allowCropping="{allowCropping
}" allowUpScaling="{allowUpScaling}" /></a>
				</f:then>
				<f:else>
					<media:image asset="{image}" alt="{alternativeText}" title="{title}" maximumWidth="{maximumWidth}" maximumHeight="{maximumHeight}" allowCropping="{allowCropping
}" allowUpScaling="{allowUpScaling}" />
				</f:else>
			</f:if>
		</f:then>
		<f:else>
			<f:security.ifAccess resource="TYPO3_Neos_Backend_GeneralAccess">
				<f:if condition="{node.context.workspace.name} != 'live'">
					<img src="{f:uri.resource(package: 'TYPO3.Neos', path: 'Images/dummy-image.png')}" title="Dummy image" alt="Dummy image" class="neos-handle" />
				</f:if>
			</f:security.ifAccess>
		</f:else>
	</f:if>
	<f:if condition="{hasCaption}">
		<figcaption>
			{neos:contentElement.editable(property: 'caption', node: node)}
		</figcaption>
	</f:if>
</figure>