{namespace pf=PIPEU\Factura\ViewHelpers}
{namespace pfn=PIPEU\Factura\NodeTypes\ViewHelpers}

<f:if condition="{document.isPaid}">
	<t:then/>
	<f:else>
		<div class="alert alert-warning">
			<h5>
				<f:translate id="prepay" package="PIPEU.Factura.NodeTypes">
					Prepay
				</f:translate>
			</h5>
			<f:translate id="prepay.instruction" package="PIPEU.Factura.NodeTypes"
						 arguments="{summaryGross:'{document.summaryGross -> pf:format.currency(currencySign:\'€\')}', serialNumber:document.serialNumber}">
				Prepay Instructions
			</f:translate>
			<br/><br/>
			<h6><f:translate id="availablePaymentTypes.choose"
							 package="PIPEU.Factura.NodeTypes">Please choose one of the following payment types</f:translate>:
			</h6>

			<p><i class="glyphicon glyphicon-info-sign"></i>
				<f:translate id="payment.info" package="PIPEU.Factura.NodeTypes"/></p>

			<div class="paymentTypeList">
				<f:for each="{paymentTypes}" as="paymentType">
					<f:link.action action="new" controller="payment" package="PIPEU.Factura.NodeTypes"
								   class="paymentType"
								   arguments="{paymentType:'{__type:paymentType.type}', document:document, hash:document.identityHash}">
						<img src="{f:uri.resource(package:'PIPEU.Payment', path:'Media/Icons/{pfn:format.validParameter(value:paymentType.type)}-xs.png')}"
							 class="paymentTypeIcon paymentType-{pfn:format.validParameter(value:paymentType.type)}Icon"
							 title="{f:translate(package:'PIPEU.Payment', id:'paymentType.{paymentType.type}')}"
							 alt="{f:translate(package:'PIPEU.Payment', id:'paymentType.{paymentType.type}')}"/>

						<h6 class="paymentTypeTitle paymentType-{pfn:format.validParameter(value:paymentType.type)}Title">
							<f:translate id="paymentType.{paymentType.type}" package="PIPEU.Payment"/>
						</h6>

						<p class="paymentTypeDescription paymentType-{pfn:format.validParameter(value:paymentType.type)}Description">
							<f:translate id="paymentType.{paymentType.type}.description" package="PIPEU.Payment"/>
						</p>
					</f:link.action>
				</f:for>
			</div>
		</div>
	</f:else>
</f:if>

<div class="document facturaDocument invoiceDocument">
	<div class="row header">
		<f:render partial="Document/Header/Default" arguments="{document:document}"/>
	</div>
	<div class="row subject">
		<div class="col-sm-12">
			<f:render partial="Document/Subject/Default" arguments="{document:document}"/>
		</div>
	</div>
	<div class="row facturaCalculation">
		<div class="col-sm-12">
			<f:render partial="Document/FacturaCalculation/Default" arguments="{document:document}"/>
		</div>
	</div>
	<div class="row footer">
		<f:render partial="Document/Footer/Default"/>
	</div>
</div>