<div class="document facturaDocument invoiceDocument">
	<div class="row header">
		<f:render partial="Document/Header/Default" arguments="{document:document}"/>
	</div>
	<div class="row subject">
		<div class="col-sm-12">
			<f:render partial="Document/Subject/Default" arguments="{document:document}"/>
		</div>
	</div>
	<div class="row facturaCalculation">
		<div class="col-sm-12">
			<f:render partial="Document/FacturaCalculation/Default" arguments="{document:document}"/>
		</div>
	</div>
	<div class="row footer">
		<f:render partial="Document/Footer/Default"/>
	</div>
</div>