<f:render partial="Messages/Default"/>

<div class="row pipeu_payment">
	<div class="col col-md-4">
		<f:render partial="Document/List/Flat" arguments="{document:document.mainDocument, activeDocument:document}"/>
	</div>
	<div class="col col-md-8">
		<f:render section="content" optional="{true}"/>
		<f:render section="document" optional="{true}"/>
	</div>
</div>
