{namespace pf=PIPEU\Factura\ViewHelpers}
{namespace pfn=PIPEU\Factura\NodeTypes\ViewHelpers}
{namespace neos=TYPO3\Neos\ViewHelpers}

<header class="basketHeader">
    <h5>
        <f:translate id="label.basket.header">
            Basket
        </f:translate>
    </h5>
</header>

<f:form action="update" objectName="values" object="{values}" class="form-horizontal">
    <div class="form-group">
        <div class="col-lg-12">
            <table class="basket">
                <thead>
                    <tr>
                        <th class="name">
                            <f:translate id="label.product" package="PIPEU.Factura.NodeTypes">Product</f:translate>
                        </th>
                        <th class="tax">
                            <f:translate id="label.tax.short" package="PIPEU.Factura.NodeTypes">VAT</f:translate>
                        </th>
                        <th class="unitPrice">
                            <f:translate id="label.price.net.unit" package="PIPEU.Factura.NodeTypes">Unit Price (net)
                            </f:translate>
                        </th>
                        <th class="unit">
                            <f:translate id="label.units" package="PIPEU.Factura.NodeTypes">Units</f:translate>
                        </th>
                        <th class="priceNet">
                            <f:translate id="label.price.net" package="PIPEU.Factura.NodeTypes">Price (net)
                            </f:translate>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <f:for each="{basket.order.facturaItems}" as="item">
                        <tr>
                            <td class="name">
                                <f:if condition="{pf:className(var:item)} == 'PIPEU\Factura\Domain\Model\Documents\Items\Delivery'">
                                    <f:then>
										<f:link.action action="provider">
											<header>
												<h1 class="text-xxs">
													<f:translate id="label.{item.type}.title"
																 package="PIPEU.Factura.Delivery" source="Providers">
														{item.title}
													</f:translate>
												</h1>
											</header>
										</f:link.action>
                                        <f:translate id="label.{item.type}.subTitle"
                                                     package="PIPEU.Factura.Delivery" source="Providers">
                                            {item.subtitle}
                                        </f:translate>
                                    </f:then>
                                    <f:else>
										<neos:link.node node="{item.contextPath}">
											<header>
												<h1 class="text-xxs">
														<f:translate>{item.title}</f:translate>
												</h1>
											</header>
										</neos:link.node>
                                        <f:translate>{item.subTitle}</f:translate>
                                    </f:else>
                                </f:if>
                            </td>
                            <td class="tax">
                                <span class="xs nowrap">
                                    <pf:format.currency currencySign="%">{item.tax}</pf:format.currency>
                                </span>
                            </td>
                            <td class="unitPrice">
                                <span class="xs nowrap">
                                    <pf:format.currency currencySign="€">{item.unitPrice}</pf:format.currency>
                                </span>
                            </td>
                            <td class="unit">
                                <span class="xs nowrap">
                                    <f:if condition="{item.contextPath}">
                                        <f:then>
                                            <f:form.textfield property="{item.contextPath}"
                                                              value="{item.unit->pf:format.integer()}"/>
                                        </f:then>
                                        <f:else>
                                            <pf:format.number>{item.unit}</pf:format.number>
                                        </f:else>
                                    </f:if>
                                </span>
                            </td>
                            <td class="priceNet">
                                <span class="xs nowrap">
                                    <pf:format.currency currencySign="€">{item.price}</pf:format.currency>
                                </span>
                            </td>
                        </tr>
                    </f:for>

					<!-- NetSum -->
					<tr class="summaryNet">
						<td class="summaryName">
							<header>
								<f:translate id="label.price.net.summary" package="PIPEU.Factura.NodeTypes">
									Summary (net)
								</f:translate>
							</header>
						</td>
						<td class="summaryValue" colspan="4">
							<span class="xs nowrap">
								<pf:format.currency currencySign="€">{basket.order.summary}</pf:format.currency>
							</span>
						</td>
					</tr>

					<!-- Taxes -->
					<f:for each="{basket.order.taxes}" as="tax">
						<tr class="summaryTax">
							<td class="summaryName">
								<header>
									<f:translate id="label.price.tax.summary" package="PIPEU.Factura.NodeTypes"
												 arguments="{tax:'{tax.tax->pf:format.currency(currencySign:\'%\')}'}">
										VAT (<pf:format.currency currencySign="%">{tax.tax}</pf:format.currency>)
									</f:translate>
								</header>
							</td>
							<td class="summaryValue" colspan="4">
								<span class="xs nowrap">
									<pf:format.currency currencySign="€">{tax.price}</pf:format.currency>
								</span>
							</td>
						</tr>
					</f:for>

					<!-- GrossSum -->
					<tr class="summaryGross">
						<td class="summaryName">
							<header>
								<f:translate id="label.price.gross.summary" package="PIPEU.Factura.NodeTypes">
									Summary (gross)
								</f:translate>
							</header>
						</td>
						<td class="summaryValue" colspan="4">
							<span class="xs nowrap">
								<pf:format.currency currencySign="€">{basket.order.summaryGross}</pf:format.currency>
							</span>
						</td>
					</tr>

					<f:if condition="{basket.order.isTaxable}">
						<f:then/>
						<f:else>
							<!-- Free From Tax -->
							<tr class="freeFromTax">
								<td class="summaryValue" colspan="5">
									<span class="xs nowrap">
										<f:translate id="label.delivery.freeFromTax" package="PIPEU.Factura.NodeTypes">Free from tax</f:translate>
									</span>
								</td>
							</tr>
						</f:else>
					</f:if>



                </tbody>
            </table>
        </div>
    </div>

    <div class="form-group bottomButtons">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <f:form.button class="btn btn-default" name="continue" value="false">
                <f:translate id="label.refresh.basket" package="PIPEU.Factura.NodeTypes">
                    Refresh basket
                </f:translate>
            </f:form.button>

            <f:form.button class="btn btn-primary" name="continue" value="true">
                <f:translate id="label.continue.invoice" package="PIPEU.Factura.NodeTypes">
                    Next step "Invoice data"
                </f:translate>
            </f:form.button>
        </div>
    </div>

</f:form>