<div class="alert alert-warning">
    <h5>
        <f:translate id="label.basket.header">Basket</f:translate>
    </h5>
    <f:translate id="emptyBasketMessage" package="PIPEU.Factura.NodeTypes">Your basket is empty</f:translate>
</div>
