{namespace neos=TYPO3\Neos\ViewHelpers}

<header class="basketHeader">
	<h5>
		<f:translate id="label.control.header">Controll View</f:translate>
	</h5>
</header>

<f:form action="order" class="form-horizontal">
	<div class="document facturaDocument controllDocument">
		<div class="row header">
			<f:render partial="Document/Header/Default" arguments="{document:basket.order}"/>
		</div>
		<div class="row facturaCalculation">
			<div class="col-sm-12">
				<f:render partial="Document/FacturaCalculation/Default" arguments="{document:basket.order}"/>
			</div>
		</div>
		<div class="row footer">
			<h6>
				<f:translate id="termsAndConditions">Terms and Conditions</f:translate>
			</h6>
			<f:form.validationResults>
				<f:form.checkbox name="termsAndConditionsAccepted" id="termsAndConditionsAccepted"
								 class="termsAndConditionsAccepted" value="{true}"/>
					<label for="termsAndConditionsAccepted">
						<f:translate id="termsAndConditions.info"
									 arguments="{nodeUri:'{neos:uri.node(node:termsAndConditionNode)}'}">
							Infotext of <a href="{neos:uri.node(node:termsAndConditionNode)}">Terms and Conditions</a></f:translate>
						<span class="required">*</span>
					</label>
					<f:render partial="FieldErrors"
							  arguments="{property: 'termsAndConditionsAccepted', validationResults:validationResults}"/>
					<div class="form-group{f:if(condition:'{validationResults.flattenedErrors}', then:' has-error', else:'')}">
				</div>
			</f:form.validationResults>
		</div>
		<div class="form-group bottomButtons">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<f:form.button class="btn btn-primary" name="continue" value="true"
							   onclick="this.disabled=true;this.form.submit();">
					<f:translate id="label.continue.order" package="PIPEU.Factura.NodeTypes">
						Confirm purchase
					</f:translate>
				</f:form.button>
				<f:form.button class="btn btn-default pull-left" name="back" value="true">
					<f:translate id="label.back.provider" package="PIPEU.Factura.NodeTypes">
						Previous step "Delivery provider"
					</f:translate>
				</f:form.button>
			</div>
		</div>
	</div>
</f:form>