{namespace pg=PIPEU\Geo\ViewHelpers}

<header class="basketHeader">
    <h5>
        <f:translate id="label.delivery.header">Delivery data</f:translate>
    </h5>
	<f:translate id="label.delivery.intro">Delivery intro</f:translate>
</header>

<f:form action="updateDelivery" objectName="dto" object="{dto}" class="form-horizontal">

    <f:form.validationResults for="dto.personName.title">
        <div class="form-group{f:if(condition:'{validationResults.flattenedErrors}', then:' has-error', else:'')}">
            <label for="title" class="col-sm-6 control-label">
                <f:translate id="label.title" package="PIPEU.Factura.NodeTypes">Title/Salutation</f:translate>
            </label>

            <div class="col-sm-6">
                <f:form.textfield property="personName.title" id="title" class="form-control dto-personName-title"
                                  placeholder="{f:translate(id:'placeholder.title',value:'Example: Mr. Phd')}"/>
                <f:render partial="FieldErrors"
                          arguments="{property: 'dto.personName.title', validationResults:validationResults}"/>
            </div>
        </div>
    </f:form.validationResults>

    <f:form.validationResults for="dto.personName.firstName">
        <div class="form-group{f:if(condition:'{validationResults.flattenedErrors}', then:' has-error', else:'')}">
            <label for="firstName" class="col-sm-6 control-label">
                <f:translate id="label.firstName" package="PIPEU.Factura.NodeTypes">Firstname</f:translate>
                <span class="required">*</span>
            </label>

            <div class="col-sm-6">
                <f:form.textfield property="personName.firstName" id="firstName" class="form-control dto-personName-firstName"
                                  placeholder="{f:translate(id:'placeholder.firstName',value:'Example: Simon')}"/>
                <f:render partial="FieldErrors"
                          arguments="{property: 'dto.personName.firstName', validationResults:validationResults}"/>
            </div>
        </div>
    </f:form.validationResults>

    <f:form.validationResults for="dto.personName.lastName">
        <div class="form-group{f:if(condition:'{validationResults.flattenedErrors}', then:' has-error', else:'')}">
            <label for="lastName" class="col-sm-6 control-label">
                <f:translate id="label.lastName" package="PIPEU.Factura.NodeTypes">Lastname</f:translate>
                <span class="required">*</span>
            </label>

            <div class="col-sm-6">
                <f:form.textfield property="personName.lastName" id="lastName" class="form-control dto-personName-lastName"
                                  placeholder="{f:translate(id:'placeholder.lastName',value:'Example: Garfunkel')}"/>
                <f:render partial="FieldErrors"
                          arguments="{property: 'dto.personName.lastName', validationResults:validationResults}"/>
            </div>
        </div>
    </f:form.validationResults>

	<f:form.validationResults for="dto.company">
		<div class="form-group{f:if(condition:'{validationResults.flattenedErrors}', then:' has-error', else:'')}">
			<label for="company" class="col-sm-6 control-label">
				<f:translate id="label.company" package="PIPEU.Factura.NodeTypes">Company</f:translate>
			</label>

			<div class="col-sm-6">
				<f:form.textfield property="company" id="company" class="form-control dto-company"
								  placeholder="{f:translate(id:'placeholder.company',value:'Acme Ltd.')}"/>
				<f:render partial="FieldErrors"
						  arguments="{property: 'dto.company', validationResults:validationResults}"/>
			</div>
		</div>
	</f:form.validationResults>

    <f:form.validationResults for="dto.postal.address">
        <div class="form-group{f:if(condition:'{validationResults.flattenedErrors}', then:' has-error', else:'')}">
            <label for="address" class="col-sm-6 control-label">
                <f:translate id="label.address" package="PIPEU.Factura.NodeTypes">Address</f:translate>
                <span class="required">*</span>
            </label>

            <div class="col-sm-6">
                <f:form.textarea property="postal.address" id="address"
                                 class="form-control dto-postal-address"
                                 placeholder="{f:translate(id:'placeholder.address',value:'Example: Wallstreet 10')}"/>
                <f:render partial="FieldErrors"
                          arguments="{property: 'dto.postal.address', validationResults:validationResults}"/>
            </div>
        </div>
    </f:form.validationResults>

    <f:form.validationResults for="dto.postal.code">
        <div class="form-group{f:if(condition:'{validationResults.flattenedErrors}', then:' has-error', else:'')}">
            <label for="code" class="col-sm-6 control-label">
                <f:translate id="label.code" package="PIPEU.Factura.NodeTypes">Postal Code</f:translate>
                <span class="required">*</span>
            </label>

            <div class="col-sm-6">
                <f:form.textfield property="postal.code" id="code" class="form-control dto-postal-code"
                                  placeholder="{f:translate(id:'placeholder.code',value:'Example: EC3V 3ND')}"/>
                <f:render partial="FieldErrors"
                          arguments="{property: 'dto.postal.code', validationResults:validationResults}"/>
            </div>
        </div>
    </f:form.validationResults>

    <f:form.validationResults for="dto.postal.city">
        <div class="form-group{f:if(condition:'{validationResults.flattenedErrors}', then:' has-error', else:'')}">
            <label for="city" class="col-sm-6 control-label">
                <f:translate id="label.city" package="PIPEU.Factura.NodeTypes">City</f:translate>
                <span class="required">*</span>
            </label>

            <div class="col-sm-6">
                <f:form.textfield property="postal.city" id="city" class="form-control dto-postal-city"
                                  placeholder="{f:translate(id:'placeholder.city',value:'Example: London')}"/>
                <f:render partial="FieldErrors"
                          arguments="{property: 'dto.postal.city', validationResults:validationResults}"/>
            </div>
        </div>
    </f:form.validationResults>

    <f:form.validationResults for="dto.postal.country">
        <div class="form-group{f:if(condition:'{validationResults.flattenedErrors}', then:' has-error', else:'')}">
            <label for="country" class="col-sm-6 control-label">
                <f:translate id="label.country" package="PIPEU.Factura.NodeTypes">Country</f:translate>
                <span class="required">*</span>
            </label>

            <div class="col-sm-6">
                <f:form.select property="postal.country" id="country" class="form-control dtp-postal-country"
                               prependOptionLabel="{f:translate(id:'placeholder.country',value:'')}" prependOptionValue=""
                               options="{countries->pg:translateCountries(package:'PIPEU.Geo', source:'Countries')->pg:sort(propertyName:'name')}" optionValueField="iso2" optionLabelField="name"/>
                <f:render partial="FieldErrors"
                          arguments="{property: 'dto.postalAddress.country', validationResults:validationResults}"/>
            </div>
        </div>
    </f:form.validationResults>

    <f:form.validationResults for="dto.postal.county">
        <div class="form-group{f:if(condition:'{validationResults.flattenedErrors}', then:' has-error', else:'')}">
            <label for="county" class="col-sm-6 control-label">
                <f:translate id="label.county" package="PIPEU.Factura.NodeTypes">County/State/Prefecture/Kanton</f:translate>
            </label>

            <div class="col-sm-6">
                <f:form.textfield property="postal.county" id="county" class="form-control dto-postal-county"
                                  placeholder="{f:translate(id:'placeholder.county',value:'Example: Yorks')}"/>
                <f:render partial="FieldErrors"
                          arguments="{property: 'dto.postal.county', validationResults:validationResults}"/>
            </div>
        </div>
    </f:form.validationResults>

    <div class="form-group bottomButtons">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <f:form.button class="btn btn-default" name="continue" value="false">
                <f:translate id="label.refresh.delivery" package="PIPEU.Factura.NodeTypes">
                    Save delivery data
                </f:translate>
            </f:form.button>

            <f:form.button class="btn btn-primary" name="continue" value="true">
                <f:translate id="label.continue.provider" package="PIPEU.Factura.NodeTypes">
                    Next step "Delivery provider"
                </f:translate>
            </f:form.button>

            <f:form.button class="btn btn-default pull-left" name="back" value="true">
                <f:translate id="label.back.invoice" package="PIPEU.Factura.NodeTypes">
                    Previous step "Invoice data"
                </f:translate>
            </f:form.button>

        </div>
    </div>

</f:form>