<div class="alert alert-warning">
    <h5>
        <f:translate id="deliveryProvider.noCountry" source="FlashMessages">
            No delivery country given
        </f:translate>
    </h5>
    <f:translate id="deliveryProvider.noCountry.message" source="FlashMessages">
        There is no delivery country given to find a matching delivery provider.
    </f:translate>
</div>