{namespace pf=PIPEU\Factura\ViewHelpers}
{namespace pfn=PIPEU\Factura\NodeTypes\ViewHelpers}
<header class="basketHeader">
    <h5>
        <f:translate id="label.provider.header">Provider</f:translate>
    </h5>
</header>

<f:form action="updateProvider" class="form-horizontal">
    <f:form.hidden name="deliveryProvider" value=""/>
    <div class="form-group">
        <div class="col-lg-12">
            <table class="basket">
                <thead>
                    <tr>
                        <th class="name">
                            <f:translate id="label" package="PIPEU.Factura.Delivery" source="Providers">
                                Provider
                            </f:translate>
                        </th>
                        <th class="tax">
                            <f:translate id="label.tax.short" package="PIPEU.Factura">VAT</f:translate>
                        </th>
                        <th class="priceNet">
                            <f:translate id="label.price.net" package="PIPEU.Factura">Price (net)</f:translate>
                        </th>
						<th class="priceGross">
							<f:translate id="label.price.gross" package="PIPEU.Factura">Price (gross)</f:translate>
						</th>
                    </tr>
                </thead>
                <tbody>
                    <f:for each="{basket.order.possibleDeliveries}" as="item">
                        <f:form.validationResults for="deliveryProvider">
                            <tr class="{f:if(condition:'{validationResults.flattenedErrors}', then:'has-error', else:'')}">
                                <td class="name">
                                    <label for="{item.type}">
                                        <header>
                                            <h1 class="text-xxs">
                                                <f:translate id="label.{item.type}.title"
                                                             package="PIPEU.Factura.Delivery" source="Providers">
                                                    {item.title}
                                                </f:translate>
                                            </h1>
                                        </header>
                                        <f:translate id="label.{item.type}.subTitle"
                                                     package="PIPEU.Factura.Delivery" source="Providers">
                                            {item.subtitle}
                                        </f:translate>
                                    </label>
                                    <f:if condition="{basket.delivery}">
                                        <f:then>
                                            <f:form.radio name="delivery" value="{item.type}" id="{item.type}"
                                                          class="deliveryProvider pull-right"
                                                          checked="{0:basket.delivery.type}=={0:item.type}"/>
                                        </f:then>
                                        <f:else>
                                            <f:form.radio name="delivery" value="{item.type}" id="{item.type}"
                                                          class="deliveryProvider pull-right"/>
                                        </f:else>
                                    </f:if>
                                </td>
                                <td class="tax">
                                    <label for="{item.type}">
                                        <span class="xs nowrap">
                                            <pf:format.currency currencySign="%">{item.tax}</pf:format.currency>
                                        </span>
                                    </label>
                                </td>
                                <td class="priceNet">
                                    <label for="{item.type}">
                                        <span class="xs nowrap">
                                            <pf:format.currency currencySign="€">{item.price}</pf:format.currency>
                                        </span>
                                    </label>
                                </td>
								<td class="priceGross">
									<label for="{item.type}">
                                        <span class="xs nowrap">
											<pf:format.currency currencySign="€">{item.price->pfn:gross(tax:'{item.tax}')}</pf:format.currency>
                                        </span>
									</label>
								</td>
                            </tr>
                        </f:form.validationResults>
                    </f:for>
                </tbody>
            </table>
            <f:form.validationResults for="deliveryProvider">
                <f:render partial="FieldErrors"
                          arguments="{property: 'deliveryData.deliveryProvider', validationResults:validationResults}"/>
            </f:form.validationResults>
        </div>
    </div>

    <div class="form-group bottomButtons">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <f:form.button class="btn btn-default" name="continue" value="false">
                <f:translate id="label.refresh.provider" package="PIPEU.Factura.NodeTypes">
                    Save delivery provider
                </f:translate>
            </f:form.button>

            <f:form.button class="btn btn-primary" name="continue" value="true">
                <f:translate id="label.continue.control" package="PIPEU.Factura.NodeTypes">
                    Next step "Control view"
                </f:translate>
            </f:form.button>

            <f:form.button class="btn btn-default pull-left" name="back" value="true">
                <f:translate id="label.back.delivery" package="PIPEU.Factura.NodeTypes">
                    Previous step "Delivery data"
                </f:translate>
            </f:form.button>

        </div>
    </div>

</f:form>
