{namespace pf=PIPEU\Factura\ViewHelpers}
<div class="document facturaDocument creditDocument">
    <div class="row header">
        <f:render partial="Document/Header/Delivery" arguments="{document:document}"/>
    </div>
    <div class="row subject">
        <div class="col-sm-12">
            <f:render partial="Document/Subject/Default" arguments="{document:document}"/>
        </div>
    </div>
    <div class="row facturaCalculation">
        <div class="col-sm-12">
            <f:render partial="Document/FacturaCalculation/Delivery" arguments="{document:document}"/>
        </div>
    </div>
    <div class="row footer">
        <f:render partial="Document/Footer/Default"/>
    </div>
</div>