{namespace ts=TYPO3\TypoScript\ViewHelpers}
<div class="productList">
    <f:for each="{products}" as="product">
        <ts:render path="productListItem" context="{node:product}"/>
    </f:for>
</div>