{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace pfn=PIPEU\Factura\NodeTypes\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}

<section id="{node.identifier}" class="row physicalProduct" itemscope itemtype="http://schema.org/Product">
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		{productIllustration->f:format.raw()}
		<f:if condition="{node->pfn:facturaDocumentIsAvailable()} == {false}">
			<header class="soldOut">
				<h3><f:translate id="soldOut" package="PIPEU.Factura.NodeTypes">Sorry, sold out</f:translate></h3>
				<f:translate id="availableFrom" package="PIPEU.Factura.NodeTypes" arguments="{date:'{node.properties.availableFrom->f:format.date(format:\'{f:translate(package:\"PIPEU.Factura.NodeTypes\", id:\"dateFormat\")}\')}'}">
				Available again from <strong>{node.properties.availableFrom->f:format.date(format:'Y-m-d')}</strong>
				</f:translate>
			</header>
		</f:if>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
		<header class="physicalProduct">
			<h1 itemprop="name">{node.properties.title}</h1>

			<h2 itemprop="description">{node.properties.subtitle}</h2>
		</header>
		{text->f:format.raw()}
		<div itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="productOptions">
            <span class="text-xxl" itemprop="price">
                <pfn:format.nodeCurrency currencySign="€">{node.properties.unitPrice->pfn:gross(tax:'{node.properties.tax}')}}</pfn:format.nodeCurrency>
            </span>
			(<f:translate id="label.grossLong" package="PIPEU.Factura.NodeTypes">Includes the legal vat</f:translate>)<br/>

			<pfn:format.nodeCurrency currencySign="€">{node.properties.unitPrice}</pfn:format.nodeCurrency>
			(<f:translate id="label.net" package="PIPEU.Factura.NodeTypes">net</f:translate>)<br/>

			<ts:render path="productOptions" context="{node:node}"/>

			<neos:link.node node="{node}" class="btn btn-default">
				<i class="glyphicon glyphicon-info-sign"></i>&nbsp;
				<f:translate id="label.details" package="PIPEU.Factura.NodeTypes">Details</f:translate>
			</neos:link.node>
		</div>
	</div>
</section>