{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace pfn=PIPEU\Factura\NodeTypes\ViewHelpers}
{namespace ts=TYPO3\TypoScript\ViewHelpers}

<f:if condition="{node->pfn:facturaDocumentIsAvailable()}">
	<f:then>
		<meta itemprop="availability" content="In stock"/>
		<f:form action="addFacturaItem" controller="Basket" package="PIPEU.Factura.NodeTypes"
				id="addFacturaItem-{node.contextPath}" class="addFacturaItem" name="addItem">
			<f:form.hidden name="unit" value="1"/>
			<f:form.hidden name="item" value="{node.contextPath}"/>
			<f:form.button class="btn btn-primary" name="item" value="{node.contextPath}">
				<f:if condition="{node->pfn:storageContainsNode()}">
					<f:then>
						<i class="glyphicon glyphicon-ok"></i>&nbsp;
					</f:then>
					<f:else>
						<i class="glyphicon glyphicon-shopping-cart"></i>&nbsp;
					</f:else>
				</f:if>
				<f:translate id="label.addToBasket" package="PIPEU.Factura.NodeTypes">Add to basket
				</f:translate>
			</f:form.button>
		</f:form>
	</f:then>
	<f:else>
		<meta itemprop="availability" content="Out of stock"/>
		<meta itemprop="availabilityStarts"
			  content="{node.properties.availableFrom->f:format.date(format:'Y-m-d')}"/>
	</f:else>
</f:if>