{namespace neos=TYPO3\Neos\ViewHelpers}
{namespace pfn=PIPEU\Factura\NodeTypes\ViewHelpers}

<pfn:storage>
    <div id="simpleBasket">
        <f:translate id="simpleBasket" package="PIPEU.Factura.NodeTypes" quantity="{storage.totalNumberOfItems}" arguments="{items:'{storage.totalNumberOfItems}', basketLink:'{neos:uri.node(node:basketNode)}'}">
            Currently there are <strong class="text-m">{storage.totalNumberOfItems}</strong> items in your <neos:link.node node="{basketNode}" class="text-m">basket</neos:link.node>
        </f:translate>
    </div>
</pfn:storage>

