{namespace pf=PIPEU\Factura\ViewHelpers}
<pf:format.nl2br>
	{company}
    {personName.fullName}
    {postal.address}
    {postal.code} {postal.city}
    {postal.county}
</pf:format.nl2br>
<br/><f:translate id="{postal.country.iso2}" package="PIPEU.Geo" source="Countries">{postal.country.name}</f:translate>