<f:comment>
	<div class="alert alert-warning">
		<h5>
			Wir bitten um Ihr Verständnis
		</h5>
		Derzeit bieten wir lediglich die Bezahlung per Vorkasse an. Als kleiner Shopbetreiber ist es uns nicht möglich,
		das Risiko von Zahlungsausfällen zu tragen. Die Informationen zur Zahlung erhalten Sie nach Abschluß Ihrer
		Bestellung.
	</div>
</f:comment>

<ul role="navigation" class="basketNavigation">
	<li class="{f:if(condition:'{menuActivity} == \'index\'',then:'active',else:'normal')}">
		<f:link.action action="index">
			<f:translate id="label.action.index.menu" package="PIPEU.Factura.NodeTypes">Index</f:translate>
		</f:link.action>
	</li>
	<li class="{f:if(condition:'{menuActivity} == \'invoice\'',then:'active',else:'normal')}">
		<f:link.action action="invoice">
			<f:translate id="label.action.invoice.menu" package="PIPEU.Factura.NodeTypes">Invoice</f:translate>
		</f:link.action>
	</li>
	<li class="{f:if(condition:'{menuActivity} == \'delivery\'',then:'active',else:'normal')}">
		<f:link.action action="delivery">
			<f:translate id="label.action.delivery.menu" package="PIPEU.Factura.NodeTypes">Delivery</f:translate>
		</f:link.action>
	</li>
	<li class="{f:if(condition:'{menuActivity} == \'provider\'',then:'active',else:'normal')}">
		<f:link.action action="provider">
			<f:translate id="label.action.provider.menu" package="PIPEU.Factura.NodeTypes">Provider</f:translate>
		</f:link.action>
	</li>
	<li class="{f:if(condition:'{menuActivity} == \'control\'',then:'active',else:'normal')}">
		<f:link.action action="control">
			<f:translate id="label.action.control.menu" package="PIPEU.Factura.NodeTypes">Control</f:translate>
		</f:link.action>
	</li>
</ul>
